<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conest-Clientes</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <div class="container">
        <h1>Clientes</h1>
    </div>

    <div class="container">
        <form id="frmClient" class="mt-2 row gl-3">
            <!-- Buscar Cliente -->
            <div class="col-md-6">
                <input type="text" class="form-control" id="searchClient" maxlength="30" spellcheck="false">
            </div>

            <div class="col-md-4">
                <button type="button" class="btn btn-primary" id="btnRead" onclick="buscarCliente()">Nome</button>
                <button type="button" class="btn btn-primary" id="btnReadCPF" onclick="buscarCpfCliente()">CPF</button>
            </div>
            <hr class="mt-4 border-primary border -1">

            <!-- Id do Cliente (oculto) -->

            <div class="col-md-6" id="idClient">
                <input class="form-control" type="text" id="inputIdClient" placeholder="Id">
            </div>

            <!-- Nome do Cliente -->
            <div class="col-md-6">
                <label for="inputNameClient" class="form-label">Nome</label>
                <input class="form-control" type="tel" id="inputNameClient" spellcheck="false" required maxlength="50">
            </div>

            <!-- CPF -->
            <div class="col-md-3">
                <label for="inputCPF" class="form-label">CPF</label>
                <input class="form-control" type="text" id="inputCPF" required maxlength="50">
            </div>

            <!-- CEP -->
            <div class="col-md-3">
                <label for="inputCEP" class="form-label">CEP</label>
                <input class="form-control" type="text" id="inputCEP" required maxlength="50" onblur="checarEndereco()">
            </div>


            <!-- Email -->
            <div class="col-md-6">
                <label for="inputEmailClient" class="form-label">Email</label>
                <input class="form-control" type="email" id="inputEmailClient" required maxlength="50">
            </div>

            <!-- DDD -->
            <div class="col-md-2">
                <label for="ddd" class="form-label">DDD</label>
                <input class="form-control" type="text" id="ddd">
            </div>

            <!-- Fone -->
            <div class="col-md-4">
                <label for="inputPhoneClient" class="form-label">Telefone</label>
                <input class="form-control" type="tel" id="inputPhoneClient" spellcheck="false" required maxlength="15">
            </div>


            <!-- Endereço -->
            <div class="col-md-6">
                <label for="inputEndereco" class="form-label">Endereço</label>
                <input class="form-control" type="text" id="inputEndereco" required maxlength="50">
            </div>

            <!-- Número -->
            <div class="col-md-2">
                <label for="numRuaCliente" class="form-label">nº</label>
                <input class="form-control" type="text" id="numRuaCliente" required maxlength="50">
            </div>

            <!-- Complemento -->
            <div class="col-md-4">
                <label for="complCliente" class="form-label">Complemento</label>
                <input class="form-control" type="text" id="complCliente" required maxlength="50">
            </div>



            <!-- Bairro -->
            <div class="col-md-12">
                <label for="inputBairro" class="form-label">Bairro</label>
                <input class="form-control" type="text" id="inputBairro" required maxlength="50">
            </div>

            <!-- Cidade -->
            <div class="col-md-4">
                <label for="inputCidade" class="form-label">Cidade</label>
                <input class="form-control" type="text" id="inputCidade" required maxlength="50">
            </div>

            <!-- Estado -->
            <div class="col-md-4">
                <label for="inputEstado" class="form-label">Estado</label>
                <input class="form-control" type="text" id="inputEstado" required maxlength="50">
            </div>

            <!-- UF -->
            <div class="col-md-4">
                <label for="uf" class="form-label">UF</label>
                <select id="uf" class="form-control">
                    <option selected>UF</option>
                    <option>AC</option>
                    <option>AL</option>
                    <option>AM</option>
                    <option>AP</option>
                    <option>BA</option>
                    <option>CE</option>
                    <option>DF</option>
                    <option>ES</option>
                    <option>GO</option>
                    <option>MA</option>
                    <option>MG</option>
                    <option>MS</option>
                    <option>MT</option>
                    <option>PA</option>
                    <option>PB</option>
                    <option>PE</option>
                    <option>PR</option>
                    <option>RJ</option>
                    <option>RN</option>
                    <option>RS</option>
                    <option>SC</option>
                    <option>SE</option>
                    <option>SP</option>
                    <option>TO</option>
                </select>
            </div>

            <!-- Botões -->
            <div class="mt-5">
                <button type="submit" class="btn btn-success" id="btnCreat">Adicionar</button>
                <button type="submit" class="btn btn-warning" id="btnUpdate">Editar</button>
                <button type="button" class="btn btn-danger"  id="btnDelete" onclick="excluirCliente()">Excluir</button>
                <button type="reset" class="btn" id="btnReset"></button>
            </div>
        </form>
    </div>



    <script src="../public/js/bootstrap.min.js"></script>
    <script src="clientes.js"></script>
    <script src="../public/js/script.js"></script>
</body>

</html>