<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conest - Fornecedores</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <div class="container">
        <h1>Fornecedores</h1>
    </div>

    <div class="container">
        <form id="frmFornecedor" class="mt-2 row gl-3">
            <!-- Buscar Fornecedor -->
            <div class="col-md-6">
                <input type="text" class="form-control" id="searchForner" maxlength="30" spellcheck="false">
            </div>

            <div class="col-md-4">
                <button type="button" class="btn btn-primary" id="btnreadfornecer"
                    onclick="buscarFornecedor()">Buscar</button>
            </div>
            <hr class="mt-4 border-primary border -1">

            <!-- Id do Fornecedor (oculto) -->

            <div class="col-md-6" id="idForne">
                <input class="form-control" type="text" id="inputFornecedor" placeholder="Id">
            </div>

            <!-- Nome do Fornecedor (Razão Social) -->
            <div class="col-md-5">
                <label for="inputNameFornecedor" class="form-label">Razão Social</label>
                <input class="form-control" type="tel" id="inputNameFornecedor" spellcheck="false" required
                    maxlength="50">
            </div>

            <!-- CNPJ -->
            <div class="col-md-4">
                <label for="cepFornecedor" class="form-label">CNPJ</label>
                <input class="form-control" type="text" id="cnpjFornecedor" required maxlength="50"onblur="fornecedorendereco()">
            </div>

            <!-- CEP -->
            <div class="col-md-3">
                <label for="cepFornecedor" class="form-label">CEP</label>
                <input class="form-control" type="text" id="cepFornecedor" required maxlength="50"
                    onblur="fornecedorendereco()">
            </div>


            <!-- Site (Fornecedor) -->
            <div class="col-md-6">
                <label for="inputSiteFornecedor" class="form-label">Site</label>
                <input class="form-control" type="text" id="inputSiteFornecedor" required maxlength="50">
            </div>

            <!-- DDD -->
            <div class="col-md-2">
                <label for="dddFornecedor" class="form-label">DDD</label>
                <input class="form-control" type="text" id="dddFornecedor">
            </div>

            <!-- Fone -->
            <div class="col-md-4">
                <label for="inputPhoneFornecedor" class="form-label">Telefone</label>
                <input class="form-control" type="tel" id="inputPhoneFornecedor" spellcheck="false" required
                    maxlength="15">
            </div>

            <!-- Endereço -->
            <div class="col-md-9">
                <label for="enderecoFornecedor" class="form-label">Endereço do Fornecedor</label>
                <input class="form-control" type="text" id="enderecoFornecedor" required maxlength="50">
            </div>

            <!-- Nº Rua -->
            <div class="col-md-3">
                <label for="numRuaFornecedor" class="form-label">n°</label>
                <input class="form-control" type="text" id="numRuaFornecedor" required maxlength="50">
            </div>

            <!-- Bairro -->
            <div class="col-md-12">
                <label for="bairroFornecedor" class="form-label">Bairro</label>
                <input class="form-control" type="text" id="bairroFornecedor" required maxlength="50">
            </div>

            <!-- Cidade -->
            <div class="col-md-4">
                <label for="cidadeFornecedor" class="form-label">Cidade</label>
                <input class="form-control" type="text" id="cidadeFornecedor" required maxlength="50">
            </div>

            <!-- Estado -->
            <div class="col-md-4">
                <label for="estadoFornecedor" class="form-label">Estado</label>
                <input class="form-control" type="text" id="estadoFornecedor" required maxlength="50">
            </div>

            <!-- UF -->
            <div class="form-group col-md-4">
                <label for="ufFornecedor" class="form-label">UF</label>
                <select id="ufFornecedor" class="form-control">
                    <option selected>UF</option>
                    <option>AC</option>
                    <option>AL</option>
                    <option>AM</option>
                    <option>AP</option>
                    <option>BA</option>
                    <option>CE</option>
                    <option>DF</option>
                    <option>ES</option>
                    <option>GO</option>
                    <option>MA</option>
                    <option>MG</option>
                    <option>MS</option>
                    <option>MT</option>
                    <option>PA</option>
                    <option>PB</option>
                    <option>PE</option>
                    <option>PR</option>
                    <option>RJ</option>
                    <option>RN</option>
                    <option>RS</option>
                    <option>SC</option>
                    <option>SE</option>
                    <option>SP</option>
                    <option>TO</option>
                </select>
            </div>

            <!-- Botões -->
            <div class="mt-5">
                <button type="submit" class="btn btn-success" id="btnAdfornecer">Adicionar</button>
                <button type="submit" class="btn btn-warning" id="btnEdfornecer">Editar</button>
                <button type="button" class="btn btn-danger" id="btnDelfornecer"
                    onclick="excluirFornecedor()">Excluir</button>
                <button type="reset" class="btn" id="btnReset"><img src="" alt=""></button>
            </div>
        </form>
    </div>

    <script src="../public/js/bootstrap.min.js"></script>
    <script src="fornecedores.js"></script>
    <script src="../public/js/script.js"></script>
</body>

</html>