<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conest</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>

    <div class="container button ">
        <h1 class="text-align-center"> Principal</h1>
        <img src="../public/img/client.png" alt="Clientes" title="Clientes" onclick="clientes()">
        <img src="../public/img/suplier.png" alt="Produtos" title="Fornecedores" onclick="fornecedor()">
        <img src="../public/img/product.png" alt="Produtos" title="Produtos" onclick="produtos()">
        <img src="../public/img/report.png" alt="Produtos" title="Relatórios" onclick="relatorios()">
    </div>
    <footer>
        <p id="dataAtual"></p>
        <img src="../public/img/dboff.png" alt="Incone do Banco de Dados" id="iconDB">
    </footer>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="renderer.js"></script>
</body>

</html>