<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conest</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <div class="container">
        <img src="../public/img/client.png" alt="Clientes" title="Clientes" onclick="">
    </div>

    <script src="../public/js/bootstrap.min.js"></script>
    <script src="renderer.js"></script>
</body>

</html>