<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conest - Produtos</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>

    <div class="container">
        <h1 class="mt-3">Produtos</h1>
        <form id="frmProduto" class=" row g-3 mt-2 row gl-3">
            <!-- Buscar produto por Código -->
            <div class="col-md-6">
                <input type="text" class="form-control" id="searchProduto" maxlength="50" spellcheck="false">
            </div>

            <div class="col-md-4">
                <img src="../public/img/barcode.png" alt="barcode">
            </div>


            <!-- Busca produto por Nome -->
            <div class="col-md-6 mt-3">
                <input type="text" class="form-control" id="searchProduto" maxlength="50" spellcheck="false">
            </div>

            <div class="col-md-3 mt-3">
                <button type="button" class="btn btn-primary" id="btnReadProdut"
                    onclick="buscarProdutos()">Nome</button>
            </div>

            <!-- <button type="button" class="btn btn-primary" id="btnReadCode"
            onclick="buscarProdutosCodigo()">Codigo</button> -->



            <hr class="mt-4 border-primary border -1">

            <!-- Id do Produto (pode ser usado como código interno) -->

            <div class="col-md-6" id="idProdut">
                <label for="inputProdut" class="form-label">
                    ID do Produto</label>
                <input class="form-control" type="text" id="inputProdut" placeholder="Id">
            </div>


            <!-- Barcode -->
            <div class="col-md-6">
                <label for="inputCodBarra" class="form-label">Código do Produto</label>
                <input class="form-control" type="text" id="inputCodBarra" required maxlength="50">
            </div>


            <!-- Nome do Produto -->
            <div class="col-md-6">
                <label for="inputNameProduto" class="form-label">Nome do Produto</label>
                <input class="form-control" type="text" id="inputNameProduto" spellcheck="false" required
                    maxlength="50">
            </div>


            <!-- imagem do produto -->
            <div class="col-md-5">
                <img src="../public/img/camera.png" alt="imagem" id="imageProductPreview">
            </div>
            <input type="file" id="imageProduct">
            <!-- Botões -->
            <div class="col-12">
                <br><br><br>
                <button type="submit" class="btn btn-success" id="btnCreatProdut">Adicionar</button>
                <button type="submit" class="btn btn-warning" id="btnUpdateProdut">Editar</button>
                <button type="button" class="btn btn-danger" id="btnDeleteProdut"
                    onclick="exlcuirProduto()">Excluir</button>
                <button type="reset" class="btn" id="btnReset" onclick="resetForm()"><img src="" alt=""></button>
            </div>
        </form>
    </div>

    <script src="../public/js/bootstrap.min.js"></script>
    <script src="produto.js"></script>
</body>

</html>