/* input id */
#idClient {
    display: none;
}

#idForne {
    display: none;
}

/* #idProdut {
    display: none;
} */



/* Botões */
.button img {
    margin: 50px 15px 25px 15px;
    padding: 5px;
    border: 1px solid #e8e8e8;
    cursor: pointer;
}

/* Botão Reset */
#lupa {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 30px;

}

#scanner {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-bottom: 60px;
    margin-left: 10px;

}

#btnReset {
    width: 50px;
    height: 50px;
    background-image: url('../img/clear.png');
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

/* Titulo - Inputs*/
label {
    font-weight: 500;
}

/* #tituloproduto {
    margin-left: 10px;
} */


/* Rodapé */
footer {
    background-color: #007acc;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
}

footer p {
    color: #fff;
    margin: 0px 0px 0px 10px;
}

footer img {
    margin-right: 10px;
}

/* Imagem do Produto */
#imageProductPreview {
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    width: 260px;
    height: 260px;
    padding: 5px;
    position: fixed;
    right: 50px;
    bottom: 30px;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
}

#imageProductPreview {
    max-width: 100%;
    height: 260px;
    width: 260px;
    padding: 5px;
    position: fixed;
    display: block;
    bottom: 20px;
    object-fit: cover;

}




.input-group {
    display: flex; /* Faz o botão e o input ficarem lado a lado */
    align-items: center; /* Alinha verticalmente */
}

.input-group input {
    flex-grow: 1; /* Faz o input ocupar o espaço disponível */
    margin-right: 10px; /* Adiciona um espaço entre o input e o botão */
    border-radius: 5px;
}

.input-group button {
    margin-left: 10px;
    border-radius: 5px; /* Adiciona uma margem no lado esquerdo do botão */
    /* Caso queira aumentar ainda mais o espaço, pode ajustar o valor de 10px */
}
